body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color:white;
    text-align: center;
}
.container {
    max-width: 1200px;
}
header {
    padding: 60px 0;
    background: linear-gradient(90deg, #ff8c00, #ff2e63);
}
header h1 {
    font-size: 2.5rem;
    font-weight: 700;
   
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #ffde59;
}
section {
    padding: 60px 20px;
}
.project {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255,255,255,0.1);
    margin-bottom: 20px;
}
.project a {
    color: #ffde59;
    font-weight: bold;
    text-decoration: none;
}
.project a:hover {
    text-decoration: underline;
}
footer {
    background: #ff2e63;
    padding: 20px;
    margin-top: 20px;
}